.sq-item {
  margin-left: 30px;
  margin-bottom:300px;
  font-size: 35px;
}

.sv_qstn .sq-root-cb {
  border-left: 4px solid orange;
}

.sq-checkbox .checkboxsq-item .sv_q_checkbox_inline{ 
  width: 35px;
  height: 35px;
}

.sq-title {
  font-size: 40px;
}
 .btn-lg{
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff; 
	font-family:Arial;
	font-size:28px; 
	padding:28px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

/* #surveyComplete {
  display: inline-block;
  width: 300px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 50px;
  background-color:  #1ab394;
} */
