/* .sq-item {
 margin-left: 30px;
 margin-bottom:50px; 
  width: 300px;
  height: 300px;
} */

.sv_q_checkbox {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}}

.sv_q_checkbox input {
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sq-label {
  font-size: 35px;
}

.sq-title {
  font-size: 40px;
}

.btn-green {
  font-size:30px; 
  background-color: #1ab394;
  color: #fff;
  border-radius: 20px;
}
.btn-green:focus,
.btn-green:hover {
  background-color: #18a689;
  color: #fff;
}