<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Custom Survey</title><meta name="viewport" content="width=device-width"/>
        <script src="https://npmcdn.com/zone.js"></script>
        <script src="https://npmcdn.com/core-js@2.6.5/client/shim.min.js"></script>
        <script src="https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js"></script>
        <script src="https://npmcdn.com/@angular/core@2.0.0-rc.5/bundles/core.umd.js"></script>
        <script src="https://npmcdn.com/@angular/common@2.0.0-rc.5/bundles/common.umd.js"></script>
        <script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.5/bundles/compiler.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.5/bundles/platform-browser.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.5/bundles/platform-browser-dynamic.umd.js"></script>
        <script src="https://unpkg.com/survey-angular@1.9.19/survey.angular.min.js"></script>
        <link href="https://unpkg.com/survey-core@1.9.19/modern.min.css" type="text/css" rel="stylesheet"/>
        <style>
          body {
            background: #D3D3D3;
          }
          
          .content {
            max-width: 550px;
            margin: auto;
            background:white;
            padding: 10px;
          }
      </style>
    <body>
       
        <div id="surveyResult"></div>
        <script src="/js/user_reported_survey_script.js" type="module"></script>
    </body>
</html>