<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-based Survey</title>

    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/survey-jquery"></script>
    <link href="https://unpkg.com/survey-jquery/survey.min.css" type="text/css" rel="stylesheet"/>

    <style>
        body {
          background: #D3D3D3;
        }
        
        .content {
          max-width: 550px;
          margin: auto;
          background:white;
          padding: 10px;
        }
    </style>
</head>

<body>
  <span id='idJSON' hidden><%=JSON.stringify(id); %></span>
  <span id='surveynameJSON' hidden><%=JSON.stringify(surveyname); %></span>
  

    <div class="content">

      <div style="margin-top:20px">
        <a id="surveyComplete" href="#" onclick="survey.completeLastPage();">Complete</a>
      </div>


    <script src="/js/user_reported_survey_script.js" type="module"></script>
    <div id="surveyContainer" style="display:inline-block;width:100%;"></div>
    <div id="surveyResults"></div>
    </div>
</body>
</html>